# Session encryption
# Generate a unique value before starting the stack:
#   openssl rand -hex 32
OPENWEBUI_SERCRET_KEY=

TERMINALS_API_KEY=
TERMINALS_BACKEND=docker
TERMINALS_IMAGE=ghcr.io/open-webui/open-terminal:latest
TERMINALS_NETWORK=open-webui-network
TERMINALS_IDLE_TIMEOUT_MINUTES=30

SEARXNG_VERSION=latest
SEARXNG_HOST=[::]
SEARXNG_PORT=8080